<!DOCTYPE html>
<html lang="en">

    <%- include ('../partials/head.ejs') %>

<body>
    <%- include ('../partials/nav.ejs') %>
    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-3">
            <% data.forEach(movie=> { %>
                <div class="col mb-4">
                    <div class="card h-100">
                        <img src="<%= imageUrl + movie.poster_path %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= movie.title %>
                            </h5>
                            <p class="card-text"><%= `${movie.overview.substring(0, 100)} ...` %></p>
                            <a href="<%= `movie/${movie.id}` %> " class="btn btn-secondary">Show more</a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    
        <div class="container">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <% if (total_pages > 0) { %>
                        <ul class="pagination text-center">
                            <% if (current == 1) { %>
                                <li class="disabled"><a>First</a></li>
                            <% } else { %>
                                <li><a href="/movies/page/1">First</a></li>
                            <% } %>
                            <% let i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if (i !== 1) { %>
                                <li class="disabled"><a>...</a></li>
                            <% } %>
                            <% for (; i <= (Number(current) + 4) && i <= total_pages; i++) { %>
                                <% if (i == current) { %>
                                    <li class="active"><a><%= i %></a></li>
                                <% } else { %>
                                    <li><a href="/movies/page/<%= i %>"><%= i %></a></li>
                                <% } %>
                                <% if (i == Number(current) + 4 && i < total_pages) { %>
                                    <li class="disabled"><a>...</a></li>
                                <% } %>
                            <% } %>
                            <% if (current == total_pages) { %>
                                <li class="disabled"><a>Last</a></li>
                            <% } else { %>
                                <li><a href="/movies/page/<%= total_pages %>">Last</a></li>
                            <% } %>
                        </ul>
                    <% } %>

                </ul>
            </nav>
        </div>
    </div>

    <%- include ('../partials/ext.ejs') %>
</body>

</html>