<!DOCTYPE html>
<html lang="en">

    <%- include ('../partials/head.ejs') %>

<body>
    <%- include ('../partials/nav.ejs') %>
    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-3">
            <% data.forEach(movie=> { %>
                <div class="col mb-4">
                    <div class="card h-100">
                        <img src="<%= imageUrl + movie.poster_path %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= movie.title %>
                            </h5>
                            <p class="card-text"><%= `${movie.overview.substring(0, 100)} ...` %></p>
                            <a href="<%= `movie/${movie.id}` %> " class="btn btn-secondary">Show more</a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>

        <h1>
            <%= total_pages %>
        </h1>

        <div class="container">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <% for( let index=1; index <=total_pages -480; index++ ) { %>
                        <li class="page-item"><a class="page-link" href="/movies/page/<%= index %> ">
                                <%= index %>
                            </a></li>
                        <% } %>
                </ul>
            </nav>
        </div>
    </div>

    <%- include ('../partials/ext.ejs') %>
</body>

</html>