<!DOCTYPE html>
<html lang="en">

  <%- include ('../partials/head.ejs') %>

<body>

  <%- include ('../partials/nav.ejs') %>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">
        <%= data.title %>
      </h1>
      <h3 class="display-6">
        <%= data.tagline %>
      </h3>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <figure class="figure">
          <img src="<%= imageUrl + data.backdrop_path %>" class="figure-img img-fluid " alt="...">
          <figcaption class="figure-caption"></figcaption>
        </figure>
      </div>
      <div class="col">
        <p class="lead">
          <%= data.overview %>
        </p>
    
        <% data.genres.forEach(genre=> { %>
          <span class="badge badge-dark">
            <%= genre.name %>
          </span>
          <% }) %>

          <br>

          <span class="badge badge-dark">
            <%= data.release_date %>
          </span>
          <br>
      
          <span class="badge badge-warning">
            <%= data.vote_average %> / 10
          </span>

      </div>
    </div>
  </div>

  <%- include ('../partials/ext.ejs') %>

</body>

</html>